html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  /*
    to bedzie na gotowe
    background: #fff;
      */

  display: flex;
  align-items: center;
  justify-content: center;

  background: green;
}

.main {
  height: 635px;
  width: 1343px;
  background: violet;

  font-family: Arial, Helvetica, sans-serif;
}

.main__grid {
  display: grid;
  grid-template-areas: "main__grid--major main__grid--aside";
  grid-template-columns: 1fr 700px;
  column-gap: 50px;
}

.main__grid--major {
  grid-area: main__grid--major;
  padding: 10px;
}

.main__grid--aside {
  grid-area: main__grid--aside;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main__grid--aside-article {
  display: block;
  background: chocolate;
  width: 260px;
  height: 210px;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border-style: #fff 3px solid;
  border: solid rgb(223, 223, 223);
  border-width: 2px;
  font-size: 10px;
}

.main__grid--aside-article-header {
  font-size: 16px;
  line-height: 22px;
}

.main__grid--aside-icon {
    border-radius: 3px;
}

.main__grid--aside-article-paragraph {
  font-size: 12px;

}

.special-color {
  color: crimson;
}

.main__grid--major-category {
  font-size: 12px;
}

.main__grid--major-header {
  font-size: 32px;
}

.main__grid--major-desription {
  font-size: 15px;
}

.main__grid--major-button {
  height: 34px;
  width: 80px;
  font-size: 12px;
  background: #ffab02;
  color: #fff;
  padding: 10px 20px 20px 17px;
  border-radius: 4px;
  border-style: none;
  line-height: 14px;
}
