html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 600px;
  width: 1200px;
  border-radius: 5px;
  background: rgb(254, 254, 254);
  background: linear-gradient(
    0deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(233, 234, 247, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
    color:#1a237e
}

.main__grid {
  display: grid;
  grid-template-areas: "main__grid--major main__grid--aside";
  grid-template-columns: 1fr 700px;
}

.main__grid--major {
  grid-area: main__grid--major;
  padding: 60px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  -ms-flex-align: start;
  justify-content: center;
}

.main__grid--aside {
  grid-area: main__grid--aside;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main__grid--aside-article {
  display: block;
  background: #fff;
  width: 260px;
  height: 210px;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border-style: #fff 3px solid;
  border: solid rgb(223, 223, 223);
  border-width: 1px;
  font-size: 10px;
}

.main__grid--aside-article-header {
  font-size: 16px;
  line-height: 22px;
  line-height: 28px;
  margin-bottom: -10px;
}

.main__grid--aside-icon {
  border-radius: 3px;
}

.main__grid--aside-article-paragraph {
  font-size: 12px;
  color: #606fc2;
}

.main__grid--aside-article-extraMargin {
  margin-top: 40px;
}

.main__grid--aside-article-negativeMargin {
  margin-top: -20px;
}

.special-color {
  color: #314efe;
}

.main__grid--major-category {
  font-size: 12px;
  color: #5c6bc0;
}

.main__grid--major-header {
  font-size: 42px;
  margin-top: -30px;
  margin-bottom: -30px;
  font-weight: 400;
}

.main__grid--major-desription {
  font-size: 13px;
  line-height: 24px;
  color: #5c6bc0;
}

.main__grid--major-button {
  height: 34px;
  width: 80px;
  font-size: 12px;
  background: #ffab02;
  color: #fff;
  padding: 10px 20px 20px 17px;
  border-radius: 4px;
  border-style: none;
  line-height: 14px;
}
